.lowerside{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  margin-bottom: 10px;
}

#word_cloud{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#submit{
  float: right;
  width: 100px;
}

#score{
  margin-right: 30px;
}

.container{
  width: 100%;
}

@media only screen and (max-width: 500px){
  .lowerside{
    width: 90%;
  }
  #text_input{
    width: 100%;
    /* margin: 10px; */
  }

}
